<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href = "/images/weather.png">
    <link rel = "stylesheet" href="/css/style.css">
    
    <title>weather</title>
</head>
<body>
   <div class = 'main-content'>
      {{>header}}
      <p>use this site to get weather </p>
       <form>
           <input placeholder="location">
           <button>search</button>
       </form>
       <p id = fullLoc></p>
       <p id = weatherDetails></p>
   </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>